
# -----------------------
# MinIO config
# -----------------------
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET= <minio_container_name>
MINIO_REGION=eu-central-1

# -----------------------
# AWS S3 config
# -----------------------
AWS_ACCESS_KEY_ID=<your_aws_key>
AWS_SECRET_ACCESS_KEY=<your_aws_secret>
AWS_BUCKET=<your_aws_bucket>
AWS_REGION=eu-north-1

# -----------------------
# Azure Blob config
# -----------------------
AZURE_CONNECTION_STRING=<your_azure_connection_string>
AZURE_CONTAINER=<contaoner_name>